<div class = "col-md-12">
</div>

<%= form_for [@project,@membership] do |f| %>
  <tr class = "membership-form">
    <td class = "form-inline"><%= link_to User.find(@membership.user_id).full_name, user_path(@membership.user_id) %>&nbsp;&nbsp;</td>
    <td class = "form-inline"><%= f.select :role, [["Owner"],["Member"]], {include_blank: false}, {class: "form-control"} %>&nbsp;&nbsp;</td>
    <td class = "form-inline"><%= f.submit "Update", class: "btn btn-primary" %>&nbsp;&nbsp;</td>
    <% if @project.memberships.find_all{|membership| membership.role == "Owner"}.count == 1 && @membership.role == "Owner" %>
      <% if @membership.user_id == current_user.id %>
        <td class = "form-inline">You are the last owner</td>
      <% else %>
        <td class = "form-inline">They are the last owner</td>
      <% end %>
    <% else %>
      <td class = "form-inline"><%= link_to '<i class="glyphicon glyphicon-remove" aria-hidden="true"></i>'.html_safe, project_membership_path(@project,@membership), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
