      <%= render partial: 'shared/error', locals: { object: @task } %>

      <div class = "col-md-12">
      </div>

      <%= form_for @task, html: {class: "form-horizontal"} do |f| %>

        <form class = "form-horizontal">
          <div class= "form-group">
            <%= f.label :description, class: "control-label col-md-2" %>
            <div class = "form-controls col-md-4">
              <%= f.text_field :description, class: "form-control" %>
            </div>
          </div>
          <div class = "form-group">
            <%= f.label :task_due_date, "Due Date", class: "control-label col-md-2" %>
            <div class = "form-controls col-md-4">
              <%= f.date_select :task_due_date, class: "form-control" %>
            </div>
          </div>

            <% if @task.new_record? %>

              <div class = "form-group">
                <div class = "col-md-offset-2 col-md-4">
                  <%= f.submit "Create Task", class: "btn btn-primary" %>
                  <%= link_to "Cancel", "/tasks", class: "btn btn-default" %>
                </div>
              </div>

            <% else %>
              <div class = "form-group">
                <%= f.label :task_completed, "Completed", class: "control-label col-md-2" %>
                <div class = "form-controls col-md-4">
                  <%= f.check_box :task_completed %>
                </div>
              </div>
              <div class = "form-group">
                <div class = "col-md-offset-2 col-md-4">
                  <%= f.submit "Update Task", class: "btn btn-primary" %>
                  <%= link_to "Cancel", "/tasks", class: "btn btn-default" %>
                </div>
              </div>
            <% end %>
        </form>
      <% end %>
