<div class = "page-header">
  <div class = "pull-right">
    <%= link_to 'Edit', edit_project_task_path(@project, @task), class: "btn btn-info" %>
  </div>
  <h1><%= @task.description %></h1>
</div>

<ol class = "breadcrumb">
  <li><a href = "/projects">Projects</a></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li class = "active"><%= @task.description %></li>
</ol>

<dl class = "dl-horizontal">
  <dt><strong>Due On:</strong></dt>
  <dd><%= @task.task_due_date %></dd>
</dl>
