<!--<%= render partial: 'shared/error', locals: { object: @user } %>-->

<div class = "row">
  <div class = "col-md-4 col-md-offset-4">
    <div class = "well">

      <% if request.original_fullpath == "/signup" %>
        <h2>Sign Up for gCamp!</h2>
      <% else %>
        <h2>Sign into gCamp</h2>
      <% end %>

      <% if @user.errors.any? %>
        <div id = "red-error-text">
          <% @user.errors.full_messages.each do |message| %>
              <%= message %><br />
          <% end %>
        </div>
        <br />
      <% end %>

      <%= form_for @user do |f| %>

        <div class= "form-group">
          <%= f.label :first_name, "First Name" %>
          <%= f.text_field :first_name, class: "form-control" %>
        </div>
        <div class = "form-group">
          <%= f.label :last_name, "Last Name" %>
          <%= f.text_field :last_name, class: "form-control" %>
        </div>
        <div class = "form-group">
          <%= f.label :email, "Email" %>
          <%= f.email_field :email, class: "form-control" %>
        </div>
        <div class = "form-group">
          <%= f.label :password, "Password" %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <div class = "form-group">
          <%= f.label :password_confirmation, "Password Confirmation" %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>

        <% if request.original_fullpath == "/signup" %>

          <div class = "form-group">
            <%= f.submit "Sign Up", class: "btn btn-primary" %>
            <%= link_to "Cancel", users_path, class: "btn btn-default" %>
          </div>

        <% else %>

          <div class = "form-group">
            <%= f.submit "Sign In", class: "btn btn-primary" %>
            <%= link_to "Cancel", "/users", class: "btn btn-default" %>
          </div>

        <% end %>

      <% end %>

    </div>
  </div>
</div>
