      <div class = "page-header">
        <div class = "pull-right">
          <% if @user.id == current_user.id %>
            <%= link_to "Edit", edit_user_path(@user), class: "btn btn-info" %>
            <%= link_to "Delete", @user, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
        <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      </div>

      <ol class = "breadcrumb">
        <li><a href = "/users">Users</a></li>
        <li class = "active"><%= @user.full_name %></li>
      </ol>

      <dl class = "dl-horizontal">
          <dt><strong>First Name: </strong></dt>
          <dd><%= @user.first_name %></dd>
          <dt><strong>Last Name: </strong></dt>
          <dd><%= @user.last_name %></dd>
          <dt><strong>Email: </strong></dt>
          <dd><%= mail_to @user.email %></dd>
      </dl>
