<div class = "row">
  <div class = "col-md-4 col-md-offset-4">
    <div class = "well" id = "signup-well-custom">

      <h2 id = "signup-signin-header">Sign Up for Task-Me!</h2>

      <%= render partial: 'error', locals: { object: @user } %>

      <%= form_for @user, url: signup_path do |f| %>

        <div class= "form-group">
          <%= f.label :first_name, "First Name" %>
          <%= f.text_field :first_name, class: "form-control" %>
        </div>
        <div class = "form-group">
          <%= f.label :last_name, "Last Name" %>
          <%= f.text_field :last_name, class: "form-control" %>
        </div>
        <div class = "form-group">
          <%= f.label :email, "Email" %>
          <%= f.email_field :email, class: "form-control" %>
        </div>
        <div class = "form-group">
          <%= f.label :password, "Password" %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <div class = "form-group">
          <%= f.label :password_confirmation, "Password Confirmation" %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>

        <div class = "form-group", id = "signup-signin-button">
          <%= f.submit "Sign Up", class: "btn btn-primary" %>
          <%= link_to "Cancel", root_path, class: "btn btn-default" %>
        </div>

      <% end %>

    </div>
  </div>
</div>
