      <% if @project.errors.any? %>
        <div class = "alert alert-danger col-md-offset-2 col-md-4" id="error_explanation">
          <h4><%= pluralize(@project.errors.count, "error") %> prohibited this task from being saved:</h4>
          <ul>
            <% @project.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class = "col-md-12">
      </div>

      <%= form_for @project, html: {class: "form-horizontal"} do |f| %>

        <form class = "form-horizontal">
          <div class = "form-group">
            <%= f.label :name, "Name", class: "control-label col-md-2" %>
            <div class = "form-controls col-md-4">
              <%= f.text_field :name, class: "form-control" %>
            </div>
          </div>
          <div class = "form-group">
            <div class = "col-md-offset-2 col-md-4">
              <%= f.submit class: "btn btn-primary" %>
              <%= link_to "Cancel", projects_path, class: "btn btn-default" %>
            </div>
          </div>

        </form>

      <% end %>
