<div class = "page-header">
  <div class = "pull-right">
    <%= link_to 'New Project', new_project_path, class: "btn btn-info" %>
  </div>
  <h1>Projects</h1>
</div>

<table class = "table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Tasks</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @filtered_projects.each do |row| %>
      <% row.each do |project_id, owner_boolean| %>
        <% project = Project.find(project_id.to_s.to_i) %>
        <tr>
          <td><%= link_to project.name, project %></td>
          <td><%= link_to project.tasks.count, project_tasks_path(project) %></td>
          <td class = "text-right">
            <% if owner_boolean %>
              <%= link_to 'Edit', edit_project_path(project), class: "btn btn-info" %>
              <%= link_to 'Delete', project, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
