<div class = "page-header">
  <div class = "pull-right">
    <%= link_to "Edit", edit_project_path(@project), class: "btn btn-info" %>
  </div>
  <h1><%= @project.name %></h1>
</div>

<ol class = "breadcrumb">
  <li><a href = "/projects">Projects</a></li>
  <li class = "active"><%= @project.name %></li>
</ol>

<dl class = "dl-horizontal">
  <dt></dt>
  <dd><h4><%= link_to @project.task_count, project_tasks_path(@project) %></h4></dd>
  <dt></dt>
  <dd><h4><%= link_to @project.membership_count, project_memberships_path(@project) %></h4></dd>
</dl>

<% if @role_authentication %>
  <div class = "well">
    <h4>Delete Project</h4>
    <p>Deleting this project will also delete <%= @project.membership_count_lowercase %>, <%= @project.task_count_lowercase %> and associated comments.</p>
    <%= link_to 'Delete', @project, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
