<!DOCTYPE html>
<html>
<head>
  <title>GCampDanielleMullane</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track'=> true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top" role = "navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">gCamp</a>
      </div>
      <!--/.navbar-collapse -->
    </div>
  </div>

  <%= yield %>

  <footer>
    <div class="row">
      <div class= "col-md-6">
        <a href="/about">About</a>
        |
        <a href="/terms">Terms</a>
        |
        <a href="/faq">FAQ</a>
        |
        <a href="/tasks">Tasks</a>
      </div>

      <div class="col-md-6 text-right">
        <a href="https://www.linkedin.com">
          <%= image_tag "linked_in-f852478f8950eb3fca3367cb545aaa52.jpg", alt: "LinkedIn", class: "img-footer", width: "28", height: "25" %>
        </a>
        <a href="https://github.com/">
          <%= image_tag "GitHub-de8164cc6a609537cfdab331e002ebb3.png", alt: "GitHub", class: "img-footer", width: "28", height: "28" %>
        </a>
        <a href="https://twitter.com/">
          <%= image_tag "Twitter-0c8c529fb7181e05ab5c30416e3a70fa.png", alt: "Twitter", class: "img-footer", width: "28", height: "23" %>
        </a>
        <a href="https://students.gschool.it/">
          <%= image_tag "galvanize-g-b3da24895ed7d4fd33c43d9226c16242.png", alt: "Galvanize g", class: "img-footer", width: "16", height: "28" %>
        </a>
      </div>
    </div>
  </footer>

</div> <!-- /container -->
</div>

</body>
</html>
